@media (max-width: 1099px) {
  .cardContent {
    padding: 10px 18px 1px 18px;
  }
  .cardTitle {
    overflow-y: auto; /* Show vertical scrollbar if the content exceeds max-height */
    scrollbar-width: thin;
    scrollbar-color: rgba(71, 81, 108, 0.5) rgba(0, 0, 0, 0);
  }
  .topContent {
    justify-content: center;
  }
}
.cardContent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  min-height: 422.13px;
  padding: 10px 18px 1px 18px;
  line-height: 1.5;
  font-size: 14px;
  font-weight: 500;
  font-family: "sf", sans-serif;
}
@media (max-width: 749px) {
  .cardContent {
    height: calc(722px - 42vw);
  }
}

.middleBorder {
  border-top: 0.01px solid rgb(var(--foreground-rgb), 0.7);
  transform: translateY(1em);
}
@media (max-width: 749px) {
  .middleBorder {
    transform: translateY(0em);
  }
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  flex: 2;
  justify-content: space-evenly;
}

.topContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.cardTitle {
  display: flex;
  max-height: 8em; /* Assuming 1.2em as line-height and showing up to 4 lines */
  overflow-y: auto; /* Show vertical scrollbar if the content exceeds max-height */
  scrollbar-width: thin;
  scrollbar-color: rgba(71, 81, 108, 0) rgba(0, 0, 0, 0);
  margin: 0; /* Removing default margins from paragraph */
  padding: 0 0.5em; /* Optional: You may want to give a little horizontal padding */
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.cardTitle::-webkit-scrollbar {
  width: 8px; /* Adjust the width as desired */
}

.cardTitle::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the color as desired */
}

.cardTitle::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0); /* Remove the background color */
}

.cardAuthor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 4px;
  padding-bottom: 1px;
}

.authorName {
  display: flex;
  align-items: center;
}

.authorName:hover {
  color: rgb(232, 230, 228);
}

.dp {
  width: 4em;
  padding-left: 0.5em;
  margin-right: 0.7em;
}

.cardUserClick {
  display: flex;
  align-items: end;
}

.cardInfo:hover svg path {
  fill: #d2cfca;
}

.bottomContent {
  display: flex;
  padding-top: 2em;
}
@media (max-width: 749px) {
  .bottomContent {
    padding-top: 0;
  }
}

.cardIcons {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}
@media (max-width: 749px) {
  .cardIcons {
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
  }
}

.cardHeart {
  display: flex;
}

.cardHeart:hover svg path {
  fill: rgb(112, 45, 45);
}

.cardHeartTwo {
  display: flex;
  justify-content: end;
  flex: 1;
  position: absolute;
  top: 0;
  right: 0;
}

.cardHeartTwo:hover svg path {
  fill: rgb(112, 45, 45);
}

.itemPrice {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  font-size: 1rem;
}

.itemQty {
  display: inline-flex;
  margin-left: 5em;
  align-items: center;
}

.itemQtyNumber {
  display: inline-flex;
  border: 0.1px solid rgb(var(--foreground-rgb), 0.7);
  color: rgb(156, 163, 175);
  height: 50%;
  border-radius: 4px;
  padding: 0.5em 0.5em 0.5em 0.5em;
  transform: translateY(0.2em);
}

.qtyPlus {
  display: inline-flex;
  justify-content: flex-end;
  padding-right: 1em;
}

.qtyPlus:hover svg path {
  fill: #d2cfca;
}

.qtyMinus {
  display: inline-flex;
  justify-content: flex-end;
}

.qtyPlus:hover svg path {
  fill: #d2cfca;
}

.bookTitleOne {
  display: block;
  align-items: center;
  justify-content: flex-start;
  padding-top: 0.5em;
  padding-left: 1em;
  width: 50%;
}

.bookTitleTwo {
  display: block;
  align-items: center;
  justify-content: flex-start;
  padding-top: 0.5em;
  width: 80%;
}
@media (max-width: 749px) {
  .bookTitleTwo {
    width: 100%;
  }
}

.bookName {
  font-size: 1rem;
}

.bookAuthor {
  display: flex;
}

@media (max-width: 600px) {
  .bookAuthor span {
    display: block;
  }
}

.itemButtons {
  display: block;
  width: 85%;
  position: relative;
}
@media (max-width: 749px) {
  .itemButtons {
    width: 100%;
  }
}

.itemToggles {
  display: flex;
  align-items: center;
  align-content: center;
  padding-top: 0.5em;
}

.checkoutContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.totalWrapper {
  bottom: 0;
  left: 0;
  flex: 1;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  padding-bottom: 1em;
}

.checkoutWrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  flex: 1;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  padding-bottom: 1.3em;
  width: 100%;
}
@media (max-width: 749px) {
  .checkoutWrapper {
    padding-bottom: 0;
    bottom: revert;
    top: 60%;
    justify-content: space-between;
  }
}

.itemTotal {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  padding: 0.75em 0 0.75em 0;
  font-weight: 600;
  font-size: 1.2rem;
  color: rgba(156, 163, 175, 0.731);
}
@media (max-width: 749px) {
  .itemTotal {
    padding-top: 0;
    padding-bottom: 1em;
    justify-content: space-between;
  }
}

.checkoutAddToCart {
  display: inline-flex;
  border: 0.1px solid rgb(var(--everforest-gold));
  border-radius: 4px;
  padding: 0.75em;
  width: 100px;
  height: 50px;
  margin-right: 2em;
  justify-content: center;
  align-items: center;
  color: rgb(var(--everforest-gold));
}

.checkoutBuyNow {
  display: inline-flex;
  border: 0.1px solid rgb(169, 57, 57);
  border-radius: 4px;
  padding: 0.75em;
  width: 100px;
  height: 50px;
  justify-content: center;
  align-items: center;
  color: rgb(169, 57, 57);
}

/*# sourceMappingURL=CardClicked.module.css.map */
