@media (min-width: 1100px) {
}

@media (max-width: 1099px) {
  .cardContent {
    //padding: 10px 18px 1px 18px;
  }
  .cardTitle {
    overflow-y: auto; /* Show vertical scrollbar if the content exceeds max-height */
    scrollbar-width: thin;
    scrollbar-color: rgba(71, 81, 108, 0.5) rgba(0, 0, 0, 0);
  }
  .topContent {
    justify-content: center;
  }
}

.cardContent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  min-height: 422.13px;
  height: fit-content;
  max-height: 90vh;
  padding: 10px 18px 10px 18px;
  line-height: 1.5;
  font-size: 14px;
  font-weight: 500;
  font-family: "sf", sans-serif;
}
.cardContent:hover {
  scrollbar-color: rgba(71, 81, 108, 0.5) rgba(0, 0, 0, 0);
}

.middleBorder {
  border-top: 0.01px solid rgb(var(--foreground-rgb), 0.7);
  transform: translateY(1em);

  @media (max-width: 2000px) and (min-width: 1424px) {
  }
  @media (max-width: 1425px) and (min-width: 1200px) {
  }
  @media (max-width: 1199px) and (min-width: 1000px) {
  }
  @media (max-width: 999px) and (min-width: 750px) {
  }
  @media (max-width: 749px){
    transform: translateY(0em);
    padding-bottom: 1.5em;
  }
  //@media (max-width: 479px) {
  //  transform: translateY(0.5em);
  //  padding-bottom: .75em;
  //}
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  flex: 2;
  //padding-bottom: 5em;
  justify-content: space-evenly;
  //! 640 x 341.133
}


.topContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.cardTitle {
  display: flex;
  //max-height: calc(2em * 4); /* Assuming 1.2em as line-height and showing up to 4 lines */
  max-height: fit-content;
  overflow-y: auto; /* Show vertical scrollbar if the content exceeds max-height */
  scrollbar-width: thin;
  scrollbar-color: rgba(71, 81, 108, 0) rgba(0, 0, 0, 0);
  margin: 0; /* Removing default margins from paragraph */
  padding: 0 0.5em; /* Optional: You may want to give a little horizontal padding */
  margin-top: .5em;
  margin-bottom: .5em;


  // ? Line height = 21em
}


.cardTitle::-webkit-scrollbar {
  width: 8px; /* Adjust the width as desired */
}

.cardTitle::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the color as desired */
}

.cardTitle::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0); /* Remove the background color */
}

.cardAuthor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 4px;
  padding-bottom: 1px;

  @media (max-width: 749px) {
    padding-bottom: 1.5em;
  }
}

.authorName {
  display: flex;
  align-items: center;
}
.authorName:hover {
  color: rgb(232, 230, 228);
}

.dp {
  width: 4em;
  padding-left: 0.5em;
  margin-right: 0.7em;
}

.cardUserClick {
  display: flex;
  align-items: end;
}


.cardInfo:hover svg path {
  // fill: rgb(166, 142, 10);
  fill: #d2cfca;
}

.bottomContent {
  // position: absolute;
  // top: 50%;
  display: flex;
  //justify-content: center;
  //align-items: center;
  //align-content: center;
  //justify-items: center;
  // border-top: 0.01px solid rgb(var(--foreground-rgb), 0.7);
  //margin-top: 1em;
  padding-top: 2em;
  @media (max-width: 2000px) and (min-width: 1424px) {
  }
  @media (max-width: 1425px) and (min-width: 1200px) {
  }
  @media (max-width: 1199px) and (min-width: 1000px) {
  }
  @media (max-width: 999px) and (min-width: 750px) {
  }
  @media (max-width: 749px) {
    padding-top: 0;
  }
}

.cardIcon {
  padding-right: 1em;
}

.cardIcons {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  @media (max-width: 749px) {
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
    align-items: revert;
  }
}

.cardHeart {
  display: flex;
  z-index: 500;
  // padding-right: 1em;
}
.cardHeart:hover svg path {
  fill: rgb(112, 45, 45);
}

.cardHeartTwo {
  display: flex;
  justify-content: end;
  flex: 1;
  // padding-right: 1em;
  //height: 40%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 500;
}
.cardHeartTwo:hover svg path {
  fill: rgb(112, 45, 45);
}

.itemPrice {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  font-size: 1rem;
}

.itemQty {
  display: inline-flex;
  margin-left: 5em;
  // width: 25%;
  align-items: center;
}

.itemQtyNumber {
  display: inline-flex;
  border: .1px solid rgb(var(--foreground-rgb), .7);
  color: rgb(156 163 175);
  height: 50%;
  border-radius: 4px;
  padding: .5em .5em .5em .5em;
  transform: translateY(.2em);
}

.qtyPlus {
  display: inline-flex;
  justify-content: flex-end;
  padding-right: 1em;
}
.qtyPlus:hover svg path {
  fill: #ffffff;
}

.qtyMinus {
  display: inline-flex;
  justify-content: flex-end;
}
.qtyMinus:hover svg path {
  fill: #ffffff;
}

////////////////////////////////////////////// XS
.itemPriceXs {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  font-size: 1rem;
}

.itemQtyXs {
  display: inline-flex;
  //margin-left: 5em;
  // width: 25%;
  align-items: center;

  @media (max-width: 749px) and (min-width: 480px) {
    padding-bottom: .5em;
  }
}

.itemQtyNumberXs {
  display: inline-flex;
  border: .1px solid rgb(var(--foreground-rgb), .7);
  color: rgb(156 163 175);
  height: 50%;
  border-radius: 4px;
  padding: .5em .5em .5em .5em;
  transform: translateY(.2em);
}

.qtyPlusXs {
  display: inline-flex;
  //justify-content: flex-end;
  padding-left: 1em;
}
.qtyPlusXs:hover svg path {
  fill: #d2cfca;
}

.qtyMinusXs {
  display: inline-flex;
  //justify-content: flex-end;
}
.qtyMinusXs:hover svg path {
  fill: #ffffff;
}
/////////////////////////////////////////////////

.bookTitleOne {
  display: block;
  align-items: center;
  justify-content: flex-start;
  padding-top: .5em;
  //padding-left: 1em;
  width: 50%;
}

.bookTitleTwo {
  display: block;
  align-items: center;
  justify-content: flex-start;
  padding-top: .5em;
  width: 80%;

  @media (max-width: 749px) {
    width: 100%;
  }
}

.bookName {
  font-size: 1rem; 
}

.itemButtons {
  display: block;
  width: 85%;
  // align-items: center;
  position: relative;

  @media (max-width: 749px) {
    width: 100%;
  }
}

.itemToggles {
  display: flex;
  align-items: center;
  align-content: center;
  padding-top: .5em;
  height: fit-content;
}

.checkoutContainer {
  position: relative;
  align-items: center;
  // align-content: flex-end;
  // justify-items: flex-end;

  @media (max-width: 749px) and (min-width: 480px) {
    flex-direction: column;
    padding-bottom: 0.5em;
  }
  @media (max-width: 879px) {
    flex-direction: column;
  }
}

.totalWrapper {
  //position: absolute;
  bottom: 0;
  // left: 35%;
  left: 0;
  flex: 1;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;

  @media (max-width: 2000px) {
    padding: 1.3em 0 1em 0;
  }
  @media (max-width: 749px) and (min-width: 480px) {
    width: 100%;
    padding-bottom: 1em;
    padding-top: 0.5em;
  }
  @media (max-width: 479px) {
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 1em;
  }
}

.itemTotal {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  padding: .75em 0 .75em 0;
  // width: 50%;
  // height: 50px;
  font-weight: 600;
  font-size: 1.2rem;
   //color: rgb(169, 57, 57);
  color: rgba(156, 163, 175, 0.731);

  @media (max-width: 749px) {
    padding-top: 0;
    padding-bottom: 0;
    justify-content: space-between;
  }
}

.checkoutWrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  flex: 1;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  //padding: 1.3em 0 1.3em 0;
  padding-bottom: 1.3em;
  width: 100%;

  @media (max-width: 749px) {
    padding-bottom: 0;
    right: revert;
    flex: 0;
    bottom: revert;
    position: relative;
    //top: 60%;
    justify-content: center;
  }
}

.checkoutAddToCart {
  display: inline-flex;
  border-radius: 4px;
  padding: .75em;
  width: 100px;
  height: 50px;
  margin-right: 2em;
  justify-content: center;
  align-items: center;
}
.checkoutAddToCart:hover {
  border: .1px solid #d2cfca;
  color: #d2cfca;
}

.checkoutBuyNow {
  display: inline-flex;
  border-radius: 4px;
  padding: .75em;
  width: 100px;
  height: 50px;
  justify-content: center;
  align-items: center;
}
.checkoutBuyNow:hover {
  border: .1px solid #d2cfca;
  color: #d2cfca;
}

.largerPipe {
  font-size: 1.3em; /* Adjust as needed */
  vertical-align: middle;
  transform: translateY(9px);
  line-height: 0; /* This keeps the parent's line height unaffected */
}

