@media (min-width: 1100px) {
  .header {
    width: 95%;
  }
}

@media (max-width: 1099px) and (min-width: 750px) {
  .header {
    width: 95%;
  }
}

@media (max-width: 749px) {
  .header {
    width: 100%;
  }
  .hideOnSmallScreen {
    display: none;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: .1px solid rgb(var(--foreground-rgb));
  width: 95%;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // background-color: #ccc;
  background-color: #444;
  border-radius: 34px;
  transition: 0.4s;
  cursor: pointer;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

.switch input:checked + .slider {
  background-color: rgb(var(--everforest-gold));
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.switch input:checked + .slider:before {
  transform: translateX(20px);
}

.active .slider:before {
  // background-color: #333;
}

.xandria {
  flex: 1;
  margin: auto;
  font-size: 1.875rem;
  padding: 8px;
  text-align: center;
}

.shortenTitle h1 {
  // @media (max-width: 999px) and (min-width: 725px) {
  //   display: none;
  // }
  @media (min-width: 1200px) {
    font-size: 1.875rem;
  }
  @media (max-width: 1199px) and (min-width: 1000px) {
    font-size: 1.875rem;
  }
  @media (max-width: 999px) and (min-width: 750px) {
    font-size: 1.5rem;
  }
  @media (max-width: 749px) {
    display: none;
  }
}

.shortenTitle::before {
  content: "X";
  font-size: 1.875rem;

  @media (min-width: 1200px) {
    display: none;
  }
  @media (max-width: 1199px) and (min-width: 1000px) {
    display: none;
  }
  @media (max-width: 999px) and (min-width: 750px) {
    display: none;
  }
  @media (max-width: 749px) {
    padding-left: .3em;

  }
}


.shoppingBagIcon {
  align-items: center;

  @media (min-width: 1200px) {
  }
  @media (max-width: 1199px) and (min-width: 1000px) {
  }
  @media (max-width: 999px) and (min-width: 750px) {
  }
  @media (max-width: 749px) {
    transform: translateX(5px);
  }
}

.heartIcon {
}
.heartIcon svg g {
  fill: rgb(var(--foreground-rgb));
}

.hide-svg {

  @media (min-width: 1200px) {
  }
  @media (max-width: 1199px) and (min-width: 1000px) {
  }
  @media (max-width: 999px) and (min-width: 750px) {
  }
  @media (max-width: 749px) {
    display: none;
  }
}