@media (min-width: 1100px) {
}

@media (max-width: 1099px) {
  .cardContent {
    padding: 10px 18px 1px 18px;
  }
  .cardTitle {
    overflow-y: auto; /* Show vertical scrollbar if the content exceeds max-height */
    scrollbar-width: thin;
    scrollbar-color: rgba(71, 81, 108, 0.5) rgba(0, 0, 0, 0);
  }
  .topContent {
    justify-content: center;
  }
}

.cardContent {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  // padding: 18px;
  padding: 10px 18px 1px 18px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  font-family: "sf", sans-serif;
}

.topContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardTitle {
  display: flex;
  max-height: calc(
    2em * 4
  ); /* Assuming 1.2em as line-height and showing up to 4 lines */
  overflow-y: auto; /* Show vertical scrollbar if the content exceeds max-height */
  scrollbar-width: thin;
  scrollbar-color: rgba(71, 81, 108, 0) rgba(0, 0, 0, 0);
  margin: 0; /* Removing default margins from paragraph */
  padding: 0 0.5em; /* Optional: You may want to give a little horizontal padding */
  margin-top: .5em;
  margin-bottom: .5em;


  // ? Line height = 21em
}


.cardTitle::-webkit-scrollbar {
  width: 8px; /* Adjust the width as desired */
}

.cardTitle::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the color as desired */
}

.cardTitle::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0); /* Remove the background color */
}

.cardAuthor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 4px;
  padding-bottom: 1px;
}

.authorName {
  display: flex;
  align-items: center;
}
.authorName:hover {
  color: rgb(232, 230, 228);
}

.dp {
  width: 4em;
  padding-left: 0.5em;
  margin-right: 0.7em;
}

.cardUserClick {
  display: flex;
  align-items: end;
}


.cardInfo:hover svg path {
  // fill: rgb(166, 142, 10);
  fill: #d2cfca;
}

.bottomContent {
  // position: absolute;
  // top: 50%;
  display: flex;
  // justify-content: center;
  // align-items: center;
  // align-content: center;
  // justify-items: center;
  border-top: 0.01px solid rgb(var(--foreground-rgb), 0.7);
  margin-top: 1em;
  padding-top: 1em;
}

.cardIcon {
  // border: 1px solid green;
}

.cardIcons {
  display: inline-flex;
  // align-items: center;
  justify-content: space-between;
  flex: 1;
  // border: .1px solid white;
}

.cardHeart {
  display: flex;
  // padding-right: 1em;
}
.cardHeart:hover svg path {
  fill: rgb(112, 45, 45);
}

.cardHeartTwo {
  display: flex;
  justify-content: end;
  flex: 1;
  // padding-right: 1em;
  height: 40%;
  position: absolute;
  top: 0;
  right: 0;
}
.cardHeartTwo:hover svg path {
  fill: rgb(112, 45, 45);
}

.itemPrice {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  font-size: 1rem;
}

.itemQty {
  display: flex;
  margin-left: 5em;
  // border: .1px solid green;
  width:25%;
  justify-content: space-between;
  align-items: center;
}

.itemQtyNumber {
  display: inline-flex;
  // align-items: center;
  // align-content: center;
  // justify-content: center;
  // justify-items: center;
  // text-align: center;
  border: .1px solid rgb(var(--foreground-rgb), .7);
  color: rgb(156 163 175);
  height: 50%;
  border-radius: 4px;
  padding: .5em .5em .5em .5em;
}

.qtyPlus {
  display: inline-flex;
  justify-content: flex-end;
  // border: .1px solid red;
}
.qtyPlus:hover svg path {
  fill: #d2cfca;
}

.qtyMinus {
  display: inline-flex;
  justify-content: flex-end;
  // border: .1px solid red;
}
.qtyPlus:hover svg path {
  fill: #d2cfca;
}

.bookTitle {
  display: block;
  align-items: center;
  justify-content: flex-start;
  padding-top: .5em;
  // border: .1px dashed purple;
  width: 80%;
  height: 50%;
}

.bookName {
  font-size: 1rem; 
}

.bookAuthor {
  // font-size: .9rem; 
}

.itemButtons {
  display: block;
  // border: .1px solid yellow;
  width: 85%;
  // align-items: center;
  position: relative;
}

.itemToggles {
  display: flex;
  // border: .1px solid purple;
  align-items: center;
  justify-content: center;
}
