.contentLayout {
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  width: 90%;
  text-align: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}

@media (min-width: 1100px) {
  .contentLayout {
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
  }
}
@media (max-width: 1099px) and (min-width: 750px) {
  .contentLayout {
    max-width: 55em;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
}
@media (max-width: 749px) {
  .contentLayout {
    grid-template-columns: 1fr;
    width: 95%;
  }
}
.leftCard {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  opacity: 0.7;
  transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.rightCard {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  opacity: 0.7;
  transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.middleCard {
  transform: scale(1.02) translateY(-20px) translateZ(0); /* Scale up the card */
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.6);
  z-index: 2; /* Ensure it stays above the other cards */
  transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.leftCard:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.6);
  opacity: 1;
}

.rightCard:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.6);
  opacity: 1;
}

.middleCard:hover {
  box-shadow: 2px 15px 20px 2px rgba(0, 0, 0, 0.6);
}

.leftCard.changedState {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  opacity: 1;
  transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.rightCard.changedState {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  opacity: 1;
  transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.middleCard.changedState {
  transform: scale(1) translateY(0) translateZ(0);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.leftCard.changedState:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.6);
}

.rightCard.changedState:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.6);
}

.middleCard.changedState:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.6);
}

.card {
  display: inline-block;
  justify-content: center;
  position: relative;
  border: 0.1px solid rgb(var(--foreground-rgb), 0.6);
  margin-bottom: 1em;
  margin: 0 2px 1em 2px;
  -moz-column-break-inside: avoid;
       break-inside: avoid;
  font-family: "sf", sans-serif;
  box-sizing: border-box;
  text-align: start;
  border-radius: 4px;
  /* width: 416.666px; */
  /*width: 311.666px;*/
  /*height: 328.075px;*/
  min-width: 0;
  min-height: 0;
  width: 350px;
  color: rgba(214, 214, 214, 0.8);
  /* Optional: Increase the size and opacity of the shadow on hover */
  transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.card:hover .cardTitle {
  scrollbar-color: rgba(71, 81, 108, 0.5) rgba(0, 0, 0, 0);
}

.cardTitle::-webkit-scrollbar {
  width: 8px; /* Adjust the width as desired */
}

.cardTitle::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the color as desired */
}

.cardTitle::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0); /* Remove the background color */
}

.cardContent {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  padding: 10px 18px 1px 18px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.cardTitle {
  display: flex;
  max-height: 8em; /* Assuming 1.2em as line-height and showing up to 4 lines */
  overflow-y: auto; /* Show vertical scrollbar if the content exceeds max-height */
  scrollbar-width: thin;
  scrollbar-color: rgba(71, 81, 108, 0) rgba(0, 0, 0, 0);
  margin: 0; /* Removing default margins from paragraph */
  padding: 0 0.5em; /* Optional: You may want to give a little horizontal padding */
}

.cardAuthor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 4px;
  padding-bottom: 1px;
}

.dp {
  width: 3em;
  padding-left: 0.5em;
  margin-right: 0.7em;
}

.authorName:hover {
  color: rgb(232, 230, 228);
}

.cardUserClick {
  display: flex;
}

.cardHeart {
  display: flex;
}

.cardHeart:hover svg path {
  fill: rgb(112, 45, 45);
}

.bottomContent {
  display: flex;
  position: relative;
  border-top: 0.01px solid rgb(var(--foreground-rgb), 0.7);
}

.cardIcons {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.cardIcon:hover path {
  fill: #b5b19b;
}

.cardInfo:hover svg path {
  fill: #d2cfca;
}

.hidden {
  display: hidden;
}/*# sourceMappingURL=Content.module.css.map */