.orderSummaryButton {
  display: flex;
  z-index: 10;
  align-items: center;
}
.orderSummaryButton:hover div {
  color: white;
  fill: white;
}

.borderSummary {
  @media (max-width: 999px) {
    transition: opacity 0.3s ease, max-height 0.3s ease;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
  }
}

.expanded {
  @media (max-width: 999px) {
    opacity: 1;
    max-height: 500px; /* Use an approximate max height for your content */
  }
}

