.contentLayout {
  position: relative;
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}

@media (min-width: 1100px) {
  .contentLayout {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1099px) and (min-width: 750px) {
  .contentLayout {
    max-width: 55em;
    padding: 0 20px 0 20px;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
}
@media (max-width: 749px) {
  .contentLayout {
    grid-template-columns: 1fr;
    width: 100%;
  }
}
.leftCard {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  opacity: 0.7;
  transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.rightCard {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  opacity: 0.7;
  transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.middleCard {
  transform: scale(1.02) translateY(-20px) translateZ(0); /* Scale up the card */
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.6);
  z-index: 2; /* Ensure it stays above the other cards */
  transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.leftCard:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.6);
  opacity: 1;
}

.rightCard:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.6);
  opacity: 1;
}

.middleCard:hover {
  box-shadow: 2px 15px 20px 2px rgba(0, 0, 0, 0.6);
}

.leftCard.changedState {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  opacity: 1;
  transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.rightCard.changedState {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  opacity: 1;
  transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.middleCard.changedState {
  transform: scale(1) translateY(0) translateZ(0);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.leftCard.changedState:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.6);
}

.rightCard.changedState:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.6);
}

.middleCard.changedState:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.6);
}

.card {
  display: inline-block;
  justify-content: center;
  position: relative;
  border: 0.1px solid rgb(var(--foreground-rgb), 0.6);
  margin-bottom: 1em;
  margin: 0 2px 1em 2px;
  break-inside: avoid;
  font-family: "sf", sans-serif;
  box-sizing: border-box;
  text-align: start;
  border-radius: 4px;
  min-width: 0;
  min-height: 0;
  width: 350px;
  color: rgba(214, 214, 214, 0.8);
  cursor: pointer;
  /* Optional: Increase the size and opacity of the shadow on hover */
  transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.card:hover .cardTitle {
  scrollbar-color: rgba(71, 81, 108, 0.5) rgba(0, 0, 0, 0);
}

.hidden {
  display: hidden;
}

.similarRarrow {
  position: fixed;
  top: 50%;
  right: 0;
  padding-right: 1.4em;
  z-index: 3;
  color: rgb(var(--foreground-rgb), 0.6);
}

.similarLarrow {
  position: fixed;
  top: 50%;
  left: 0;
  padding-left: 1.4em;
  z-index: 3;
  color: rgb(var(--foreground-rgb), 0.6);
}

.similarDarrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(120px);
  z-index: 3;
  color: rgb(var(--foreground-rgb), 0.6);
}

.similarRarrow a,
.similarLarrow a,
.similarDarrow a {
  transition: color 0.1s ease;
  /* smooth transition for color changes */
}

.similarRarrow a:hover,
.similarLarrow a:hover,
.similarDarrow a:hover {
  color: white;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding-top: 1em;
}

.pageNumber {
  padding: 0.5em 1em;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  transition: background-color 0.2s ease;
  text-decoration: none;
  color: rgb(var(--foreground-rgb), 0.6);
}

.pageNumber:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/*# sourceMappingURL=Content.module.css.map */
