.contentLayout {
  position: relative;
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}

@media (min-width: 1100px) {
  .contentLayout {
    grid-template-columns: repeat(3, 1fr);
    //width: 90%;
    //  ? Figure out how to decrease column-gap for media query
  }
}

@media (max-width: 1099px) and (min-width: 750px) {
  .contentLayout {
    max-width: 55em;
    padding: 0 20px 0 20px;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
}

@media (max-width: 749px) {
  .contentLayout {
    grid-template-columns: 1fr;
    width: 100%;
  }
}


.leftCard {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  opacity: 0.7;
  transition:
          box-shadow 0.1s ease-in-out,
          transform 0.1s ease-in-out;
}
.rightCard {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  opacity: 0.7;
  transition:
          box-shadow 0.1s ease-in-out,
          transform 0.1s ease-in-out;
}
.middleCard {
  transform: scale(1.02) translateY(-20px) translateZ(0); /* Scale up the card */
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.6);
  z-index: 2; /* Ensure it stays above the other cards */
  transition:
          box-shadow 0.1s ease-in-out,
          transform 0.1s ease-in-out;
}
.leftCard:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.6);
  opacity: 1;
}
.rightCard:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.6);
  opacity: 1;
}
.middleCard:hover {
  box-shadow: 2px 15px 20px 2px rgba(0, 0, 0, 0.6);
}

.leftCard.changedState {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  opacity: 1;
  transition:
          box-shadow 0.1s ease-in-out,
          transform 0.1s ease-in-out;
}
.rightCard.changedState {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  opacity: 1;
  transition:
          box-shadow 0.1s ease-in-out,
          transform 0.1s ease-in-out;
}
.middleCard.changedState {
  transform: scale(1.00) translateY(0) translateZ(0);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  transition:
          box-shadow 0.1s ease-in-out,
          transform 0.1s ease-in-out;
}
.leftCard.changedState:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.6);
}
.rightCard.changedState:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.6);
}
.middleCard.changedState:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.6);
}

// 1st: most people are other people
// 2nd: [[ relentless pursuit of efficiency ]]
// 3rd: in age of information, ignorance

.card {
  display: inline-block;
  justify-content: center;
  position: relative;
  border: 0.1px solid rgb(var(--foreground-rgb), 0.6);
  // background-color: rgb(16, 57, 58);
  margin-bottom: 1em;
  margin: 0 2px 1em 2px;
  break-inside: avoid;
  // width: clamp(42.5ch, 30%, 75ch);
  // height: auto;
  font-family: 'sf', sans-serif;
  box-sizing: border-box;
  text-align: start;
  border-radius: 4px;
  // overflow: auto;
  /* width: 416.666px; */
  /*width: 311.666px;*/
  /*height: 328.075px;*/

  min-width: 0;
  min-height: 0;
  width: 350px;
  // height: 14.5vw;
  color: rgba(214, 214, 214, 0.8);
  // color: rgb(var(--everforest-grey-green));
  // color: rgb(var(--everforest-creme));
  // box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);

  cursor: pointer;

  /* Optional: Increase the size and opacity of the shadow on hover */
  transition:
          box-shadow 0.1s ease-in-out,
          transform 0.1s ease-in-out;
}

.card:hover {
  // border: .1px solid rgba(121, 110, 34, 0.521);
}

.card:hover .cardTitle {
  scrollbar-color: rgba(71, 81, 108, 0.5) rgba(0, 0, 0, 0);
}

.hidden {
  display: none;
}

.similarRarrow {
  position: fixed;
  padding-right: 1.4em;
  top: 50%;
  right: 0;
  z-index: 3;
  color: rgb(var(--foreground-rgb), 0.6);
  pointer-events: none;

  @media (min-width: 1190px) {
    padding-right: 1.4em;
  }
  @media (max-width: 1189px) and (min-width: 1180px) {
    padding-right: .9em;
  }
  @media (max-width: 1179px) and (min-width: 1170px) {
    padding-right: .8em;
  }
  @media (max-width: 1169px) and (min-width: 1160px) {
    padding-right: .7em;
  }
  @media (max-width: 1159px) and (min-width: 1150px) {
    padding-right: .6em;
  }
  @media (max-width: 1149px) and (min-width: 1140px) {
    padding-right: .5em;
  }
  @media (max-width: 1139px) and (min-width: 1130px) {
    padding-right: .4em;
  }
  @media (max-width: 1129px) and (min-width: 1120px) {
    padding-right: .3em;
  }
  @media (max-width: 1119px) and (min-width: 1110px) {
    padding-right: .2em;
  }
  @media (max-width: 1109px) and (min-width: 1100px) {
    padding-right: .1em;
  }
  @media (max-width: 1099px) and (min-width: 795px) {
    padding-right: 1em;
  }
  @media (max-width: 794px) and (min-width: 785px) {
    padding-right: .9em;
  }
  @media (max-width: 784px) and (min-width: 775px) {
    padding-right: .8em;
  }
  @media (max-width: 774px) and (min-width: 765px) {
    padding-right: .7em;
  }
  @media (max-width: 764px) and (min-width: 755px) {
    padding-right: .6em;
  }
  @media (max-width: 754px) and (min-width: 745px) {
    padding-right: .5em;
  }
  @media (max-width: 744px) and (min-width: 725px) {
    padding-right: .4em;
  }
  @media (max-width: 724px) {
    padding-right: .8em;
  }
}

.similarLarrow {
  position: fixed;
  padding-left: 1.4em;
  top: 50%;
  left: 0;
  z-index: 3;
  color: rgb(var(--foreground-rgb), 0.6);
  pointer-events: none;

  @media (min-width: 1190px) {
    padding-left: 1.4em;
  }
  @media (max-width: 1189px) and (min-width: 1180px) {
    padding-left: .9em;
  }
  @media (max-width: 1179px) and (min-width: 1170px) {
    padding-left: .8em;
  }
  @media (max-width: 1169px) and (min-width: 1160px) {
    padding-left: .7em;
  }
  @media (max-width: 1159px) and (min-width: 1150px) {
    padding-left: .6em;
  }
  @media (max-width: 1149px) and (min-width: 1140px) {
    padding-left: .5em;
  }
  @media (max-width: 1139px) and (min-width: 1130px) {
    padding-left: .4em;
  }
  @media (max-width: 1129px) and (min-width: 1120px) {
    padding-left: .3em;
  }
  @media (max-width: 1119px) and (min-width: 1110px) {
    padding-left: .2em;
  }
  @media (max-width: 1109px) and (min-width: 1100px) {
    padding-left: .1em;
  }
  @media (max-width: 1099px) and (min-width: 795px) {
    padding-left: 1em;
  }
  @media (max-width: 794px) and (min-width: 785px) {
    padding-left: .9em;
  }
  @media (max-width: 784px) and (min-width: 775px) {
    padding-left: .8em;
  }
  @media (max-width: 774px) and (min-width: 765px) {
    padding-left: .7em;
  }
  @media (max-width: 764px) and (min-width: 755px) {
    padding-left: .6em;
  }
  @media (max-width: 754px) and (min-width: 745px) {
    padding-left: .5em;
  }
  @media (max-width: 744px) and (min-width: 725px) {
    padding-left: .4em;
  }
  @media (max-width: 724px) {
    padding-left: .8em;
  }
}

.hiddenArrow {
  opacity: 0;
  pointer-events: none; /* Extra insurance to prevent clicks */
}

.transArrow {
  opacity: 0;
  transition: opacity .100ms ease-in-out; /* Transition effect applies only here */
}

.visibleArrow {
  opacity: 1;
  pointer-events: all;
  transition: opacity 1s ease-in-out; /* Transition effect applies only here */
}


.circleButton {
  position: absolute;
  width: 35px; /* Adjust size as needed */
  height: 35px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  //background-color: rgba(85, 85, 85, 0.29);
  cursor: pointer;
  z-index: 4; /* higher than the arrow icons */
  top: 50%;
  transform: translateY(-50%) translateX(-9px);
}
.circleButton:hover {
  background-color: rgba(85, 85, 85, 0.29);
}

.similarDarrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(120px);
  z-index: 3;
  color: rgb(var(--foreground-rgb), 0.6);
}

//.similarRarrow:hover,
//.similarLarrow:hover {
//  .visibleArrow {
//    opacity: 1;
//    pointer-events: all;
//    transition: opacity 0.5s ease-in-out; /* Transition effect applies only here */
//  }
//  .hiddenArrow {
//    opacity: 1;
//    pointer-events: all;
//    transition: opacity 0.5s ease-in-out; /* Transition effect applies only here */
//  }
//}

.similarRarrow a,
.similarLarrow a,
.similarDarrow a {
  transition: color 0.1s ease;
  /* smooth transition for color changes */
}

.similarRarrow a:hover,
.similarLarrow a:hover,
.similarDarrow a:hover {
  color: white;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding-top: 1em;
  width: 350px;
}

.pageNumber {
  padding: 0.5em 1em;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  transition: background-color 0.2s ease;
  text-decoration: none;
  color: rgb(var(--foreground-rgb), 0.6);
  cursor: pointer;
}

.pageNumber:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.currentPage {
  border: 0.1px solid rgb(var(--foreground-rgb), 0.6);
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

.card-skeleton {
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin: 10px;
}
.image-skeleton, .text-skeleton {
  background-color: #e0e0e0;
  border-radius: 4px;
}

.image-skeleton {
  width: 100%;
  height: 150px; /* Adjust based on your image size */
  margin-bottom: 10px;
}

.text-skeleton {
  height: 20px;
  width: 70%; /* Mimic text line */
  margin-bottom: 5px;

  &:last-child {
    width: 50%; /* Last line shorter to mimic text flow */
  }
}
