.contentLayout {
  position: relative;
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  overrflow: hidden;
}

@media (min-width: 1100px) {
  .contentLayout {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1099px) and (min-width: 750px) {
  .contentLayout {
    max-width: 55em;
    padding: 0 20px 0 20px;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
}
@media (max-width: 749px) {
  .contentLayout {
    grid-template-columns: 1fr;
    width: 100%;
  }
}
.leftCard {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  opacity: 0.7;
  transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.rightCard {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  opacity: 0.7;
  transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.middleCard {
  transform: scale(1.02) translateY(-20px) translateZ(0); /* Scale up the card */
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.6);
  z-index: 2; /* Ensure it stays above the other cards */
  transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.leftCard:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.6);
  opacity: 1;
}

.rightCard:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.6);
  opacity: 1;
}

.middleCard:hover {
  box-shadow: 2px 15px 20px 2px rgba(0, 0, 0, 0.6);
}

.leftCard.changedState {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  opacity: 1;
  transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.rightCard.changedState {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  opacity: 1;
  transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.middleCard.changedState {
  transform: scale(1) translateY(0) translateZ(0);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.leftCard.changedState:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.6);
}

.rightCard.changedState:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.6);
}

.middleCard.changedState:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.6);
}

.card {
  display: inline-block;
  justify-content: center;
  position: relative;
  border: 0.1px solid rgb(var(--foreground-rgb), 0.6);
  margin-bottom: 1em;
  margin: 0 2px 1em 2px;
  break-inside: avoid;
  font-family: "sf", sans-serif;
  box-sizing: border-box;
  text-align: start;
  border-radius: 4px;
  /* width: 416.666px; */
  /*width: 311.666px;*/
  /*height: 328.075px;*/
  min-width: 0;
  min-height: 0;
  width: 350px;
  color: rgba(214, 214, 214, 0.8);
  cursor: pointer;
  /* Optional: Increase the size and opacity of the shadow on hover */
  transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.card:hover .cardTitle {
  scrollbar-color: rgba(71, 81, 108, 0.5) rgba(0, 0, 0, 0);
}

.hidden {
  display: none;
}

.similarRarrow {
  position: fixed;
  padding-right: 1.4em;
  top: 50%;
  right: 0;
  z-index: 3;
  color: rgb(var(--foreground-rgb), 0.6);
  pointer-events: none;
}
@media (min-width: 1190px) {
  .similarRarrow {
    padding-right: 1.4em;
  }
}
@media (max-width: 1189px) and (min-width: 1180px) {
  .similarRarrow {
    padding-right: 0.9em;
  }
}
@media (max-width: 1179px) and (min-width: 1170px) {
  .similarRarrow {
    padding-right: 0.8em;
  }
}
@media (max-width: 1169px) and (min-width: 1160px) {
  .similarRarrow {
    padding-right: 0.7em;
  }
}
@media (max-width: 1159px) and (min-width: 1150px) {
  .similarRarrow {
    padding-right: 0.6em;
  }
}
@media (max-width: 1149px) and (min-width: 1140px) {
  .similarRarrow {
    padding-right: 0.5em;
  }
}
@media (max-width: 1139px) and (min-width: 1130px) {
  .similarRarrow {
    padding-right: 0.4em;
  }
}
@media (max-width: 1129px) and (min-width: 1120px) {
  .similarRarrow {
    padding-right: 0.3em;
  }
}
@media (max-width: 1119px) and (min-width: 1110px) {
  .similarRarrow {
    padding-right: 0.2em;
  }
}
@media (max-width: 1109px) and (min-width: 1100px) {
  .similarRarrow {
    padding-right: 0.1em;
  }
}
@media (max-width: 1099px) and (min-width: 795px) {
  .similarRarrow {
    padding-right: 1em;
  }
}
@media (max-width: 794px) and (min-width: 785px) {
  .similarRarrow {
    padding-right: 0.9em;
  }
}
@media (max-width: 784px) and (min-width: 775px) {
  .similarRarrow {
    padding-right: 0.8em;
  }
}
@media (max-width: 774px) and (min-width: 765px) {
  .similarRarrow {
    padding-right: 0.7em;
  }
}
@media (max-width: 764px) and (min-width: 755px) {
  .similarRarrow {
    padding-right: 0.6em;
  }
}
@media (max-width: 754px) and (min-width: 745px) {
  .similarRarrow {
    padding-right: 0.5em;
  }
}
@media (max-width: 744px) and (min-width: 725px) {
  .similarRarrow {
    padding-right: 0.4em;
  }
}
@media (max-width: 724px) {
  .similarRarrow {
    padding-right: 0.8em;
  }
}

.similarLarrow {
  position: fixed;
  padding-left: 1.4em;
  top: 50%;
  left: 0;
  z-index: 3;
  color: rgb(var(--foreground-rgb), 0.6);
  pointer-events: none;
}
@media (min-width: 1190px) {
  .similarLarrow {
    padding-left: 1.4em;
  }
}
@media (max-width: 1189px) and (min-width: 1180px) {
  .similarLarrow {
    padding-left: 0.9em;
  }
}
@media (max-width: 1179px) and (min-width: 1170px) {
  .similarLarrow {
    padding-left: 0.8em;
  }
}
@media (max-width: 1169px) and (min-width: 1160px) {
  .similarLarrow {
    padding-left: 0.7em;
  }
}
@media (max-width: 1159px) and (min-width: 1150px) {
  .similarLarrow {
    padding-left: 0.6em;
  }
}
@media (max-width: 1149px) and (min-width: 1140px) {
  .similarLarrow {
    padding-left: 0.5em;
  }
}
@media (max-width: 1139px) and (min-width: 1130px) {
  .similarLarrow {
    padding-left: 0.4em;
  }
}
@media (max-width: 1129px) and (min-width: 1120px) {
  .similarLarrow {
    padding-left: 0.3em;
  }
}
@media (max-width: 1119px) and (min-width: 1110px) {
  .similarLarrow {
    padding-left: 0.2em;
  }
}
@media (max-width: 1109px) and (min-width: 1100px) {
  .similarLarrow {
    padding-left: 0.1em;
  }
}
@media (max-width: 1099px) and (min-width: 795px) {
  .similarLarrow {
    padding-left: 1em;
  }
}
@media (max-width: 794px) and (min-width: 785px) {
  .similarLarrow {
    padding-left: 0.9em;
  }
}
@media (max-width: 784px) and (min-width: 775px) {
  .similarLarrow {
    padding-left: 0.8em;
  }
}
@media (max-width: 774px) and (min-width: 765px) {
  .similarLarrow {
    padding-left: 0.7em;
  }
}
@media (max-width: 764px) and (min-width: 755px) {
  .similarLarrow {
    padding-left: 0.6em;
  }
}
@media (max-width: 754px) and (min-width: 745px) {
  .similarLarrow {
    padding-left: 0.5em;
  }
}
@media (max-width: 744px) and (min-width: 725px) {
  .similarLarrow {
    padding-left: 0.4em;
  }
}
@media (max-width: 724px) {
  .similarLarrow {
    padding-left: 0.8em;
  }
}

.hiddenArrow {
  opacity: 0;
  pointer-events: none; /* Extra insurance to prevent clicks */
}

.transArrow {
  opacity: 0;
  transition: opacity 0.1ms ease-in-out; /* Transition effect applies only here */
}

.visibleArrow {
  opacity: 1;
  pointer-events: all;
  transition: opacity 1s ease-in-out; /* Transition effect applies only here */
}

.circleButton {
  position: absolute;
  width: 35px; /* Adjust size as needed */
  height: 35px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  z-index: 4; /* higher than the arrow icons */
  top: 50%;
  transform: translateY(-50%) translateX(-9px);
}

.circleButton:hover {
  background-color: rgba(85, 85, 85, 0.29);
}

.similarDarrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(120px);
  z-index: 3;
  color: rgb(var(--foreground-rgb), 0.6);
}

.similarRarrow a,
.similarLarrow a,
.similarDarrow a {
  transition: color 0.1s ease;
  /* smooth transition for color changes */
}

.similarRarrow a:hover,
.similarLarrow a:hover,
.similarDarrow a:hover {
  color: white;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding-top: 1em;
}

.pageNumber {
  padding: 0.5em 1em;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  transition: background-color 0.2s ease;
  text-decoration: none;
  color: rgb(var(--foreground-rgb), 0.6);
}

.pageNumber:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.currentPage {
  border: white;
}

/*# sourceMappingURL=Content.module.css.map */
