.contentLayout {
  display: block;
  justify-content: center;
  margin: 0 auto;
  color: rgba(214, 214, 214, 0.8);
  padding: 1rem .5rem 1rem .5rem;
  margin-top: 1rem;
  font-family: 'SF', sans-serif;
  letter-spacing: .2px;
  overflow: hidden;
  
  @media (min-width: 1200px) {
    width: 1140px;
  }
  @media (max-width: 1199px) and (min-width: 1000px) {
    width: 975px;
  }
  @media (max-width: 999px) and (min-width: 750px) {
    width: 750px;
  }
  @media (max-width: 749px) {
    width: 100%;

  }
}

.contentWrapper {
  justify-content: center;

  @media (min-width: 750px) {
    display: flex;
  }
  @media (max-width: 749px) {
    display: block;
  }
}

.imageContent {
  display: flex;

  @media (min-width: 1200px) {
    width: 28%;
  }
  @media (max-width: 1199px) and (min-width: 1000px) {
    width: 28%;
  }
  @media (max-width: 999px) and (min-width: 750px) {
    width: 38%;
  }
  @media (max-width: 749px) {
    width: 50vh;
    margin: 0 auto;
  }
}

.bookImage {
  display: flex;
  justify-content: center;
}

.bookStars {
  display: inline-flex;  
  width: 50%;
}

.faStar {
  width: 1.3em;
  height: 1.3em;
  padding-right: .2em;
}

.bookReview {
  display: inline-flex;
  color: #2466b8;
  text-decoration: underline;
  font-weight: 600;
  
}

.mainContent {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  margin: 0 auto;
  
  @media (min-width: 1200px) {
    width: 72%;
    padding-left: 3em;
  }
  @media (max-width: 1199px) and (min-width: 1000px) {
    width: 72%;
    padding-left: 3em;
  }
  @media (max-width: 999px) and (min-width: 750px) {
    width: 100%;
    padding-left: 3em;
  }
  @media (max-width: 749px) {
    width: 100%;
    padding-left: 0;
  }
}

.infoContainer {
  position: relative;
  display: flex;
  width: 100%;
  border-bottom: .1px solid rgb(var(--foreground-rgb));
  align-items: center;
  padding: .5em 0 .5em 0;
}

.bookInfoWrapper {
  display: inline-flex;
  
  @media (max-width: 749px) {
    display: block;
    justify-content: center;
    margin: 0 auto;
  }
}

.bookName {
  display: flex;
  
  @media (max-width: 749px) {
    justify-content: center;
  }
}

.bookInfo {
  display: flex;
}

.cardHeart {
  position: absolute;
  bottom: 0;
  right: 0;
  // display: inline-flex;
  // justify-content: flex-end;
  // flex: 1;
  padding-right: 1em;
}

.cardHeart:hover svg path {
  fill: rgb(112, 45, 45);
}

.bookCart {
  padding: 1.2em 0 1.2em 0;
  
  @media (min-width: 1200px) {
    display: flex;
    height: 8em;
  }
  @media (max-width: 1199px) and (min-width: 1000px) {
    display: flex;
    height: 8em;
  }
  @media (max-width: 999px) and (min-width: 750px) {
    display: flex;
    height: 9em;
  }
  @media (max-width: 749px) {
    flex-direction: column;
    margin: 0 auto;

    justify-items: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    // height: 9em;
  }
}

.cartContainer {
  display: block;
  flex: 1;
  height: fit-content;
  
  @media (min-width: 1200px) {
  }
  @media (max-width: 1199px) and (min-width: 1000px) {
  }
  @media (max-width: 999px) and (min-width: 750px) {
  }
  @media (max-width: 749px) {
    margin: 0 auto;
    text-align: center;
  }
}

.bookPrice {
  display: inline-flex;
  align-items: center;
  font-weight: 800;
  font-size: 1.5rem;
  padding-top: .5em;
  padding-bottom: 1.15em;
  
  @media (min-width: 1200px) {
  }
  @media (max-width: 1199px) and (min-width: 1000px) {
  }
  @media (max-width: 999px) and (min-width: 750px) {
  }
  @media (max-width: 749px) {
    text-align: center;
    padding-bottom: .5em;
  }
}

.paymentContainer {
  display: flex;
  font-size: .95em;
  height: 3.5em;
  align-items: start;
  justify-content: flex-start;
  
  @media (min-width: 1200px) {
    display: flex;
  }
  @media (max-width: 1199px) and (min-width: 1000px) {
    display: flex;
  }
  @media (max-width: 999px) and (min-width: 750px) {
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 749px) {
    display: block;
    width: max-content;
    text-align: center;
    margin: 0 auto;
  }
}



.cartPayments {
  display: inline-flex;
  flex: 0 0 auto;

  @media (min-width: 1200px) {
  }
  @media (max-width: 1199px) and (min-width: 1000px) {
  }
  @media (max-width: 999px) and (min-width: 750px) {
    width: 100%;
  }
  @media (max-width: 749px) {
  }
}

.afterPayWrapper {
  display: flex;
  
  @media (min-width: 1200px) {
  }
  @media (max-width: 1199px) and (min-width: 1000px) {
  }
  @media (max-width: 999px) and (min-width: 750px) {
    transform: translateX(-.7em);
  }
  @media (max-width: 749px) {
  }
}

.afterPay {
  position: relative;
  font-size: .9em;
  height: 1.5em;


  @media (min-width: 1200px) {
    display: inline-flex;
  }
  @media (max-width: 1199px) and (min-width: 1000px) {
    display: inline-flex;
  }
  @media (max-width: 999px) and (min-width: 750px) {
    display: inline-flex;
    // transform: translateX(-14.8em) translateY(1.6em);
  }
  @media (max-width: 749px) {
  }
  // white-space: nowrap;
}

.afterPaysvg {

}

.learnMore {
  height: 1.5em;
  flex: 0 0 auto;
  color: #2466b8;
  text-decoration: underline;


  @media (min-width: 1200px) {
    display: inline-flex;
  }
  @media (max-width: 1199px) and (min-width: 1000px) {
    display: inline-flex;
  }
  @media (max-width: 999px) and (min-width: 750px) {
    // transform: translateX(-5em) translateY(1.5em);
    display: inline-flex;
    text-align: center;
  }
  @media (max-width: 749px) {
    display: block;
    transform: translateY(-4em);
  }
}

.rewardsContainer {
  display: block;
  justify-content: end;
  
  @media (max-width: 749px) {
    display: flex;
  }
}

.cartButtons {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1em;
  
  @media (max-width: 749px) {
    justify-content: center;
    margin: 0 auto;
  }
  
}

.addToCart {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 50px;
  padding: .75em;
  color: rgb(var(--everforest-gold));
  border: .1px solid rgb(var(--everforest-gold));
  border-radius: 4px;
  
  @media (min-width: 1200px) {
    margin-right: 2em;
  }
  @media (max-width: 1199px) and (min-width: 1000px) {
    margin-right: 2em;
    
  }
  @media (max-width: 999px) and (min-width: 750px) {
    margin-right: 1em;
    
  }
  @media (max-width: 749px) {
    margin-right: 2em;
  }
}

.checkoutBuyNow {
  display: inline-flex;
  border-radius: 4px;
  padding: .75em;
  width: 120px;
  height: 50px;
  // margin-right: 2em;
  justify-content: center;
  align-items: center;
  color: rgb(169, 57, 57);
  border: .1px solid rgb(169, 57, 57);  
}

.bookRewards {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 800;
  color: rgb(169, 57, 57);
  // padding-right: .3em;
  text-align: center;
  width: 96%;
  font-size: .95em;
  margin: 0 auto;

  
  // @media (min-width: 1200px) {
    //   padding-right: 2.25em;
    //   padding-left: 2.25em;
    // }
    // @media (max-width: 1199px) and (min-width: 1000px) {
  //   padding-right: 2.25em;
  //   padding-left: 2.25em;
  // }
  // @media (max-width: 999px) and (min-width: 750px) {
  //   padding-right: 0;
  //   padding-left: 2.25em;
  // }

}

.shippingContainer {
  padding: 1.8em 0 1.2em 0;
  border-top: .1px solid rgb(var(--foreground-rgb));
  border-bottom: .1px solid rgb(var(--foreground-rgb));

  @media (min-width: 1200px) {
    display: flex;
  }
  @media (max-width: 750px) {
    display: block;
  }
}

.stockVerify {
  display: inline-flex;
  align-items: center;
  margin-right: 2em;
  border-radius: 20px;
  // font-weight: 600;
  line-height: 20px;
  letter-spacing: .7px;
  color: rgb(var(--foreground-rgb));
  border: 2.5px solid rgb(82, 148, 26);
}

.iconBlock {
  position: absolute;
  z-index: 1;
  padding: 6px 8px;
  border-radius: 30px;
  box-sizing: border-box;
  background-color: rgb(82, 148, 26);
  color: rgb(232, 230, 227);
}

.stockText {
  display: inline-flex;
  // justify-content: center;
  // flex: 1;
  padding: .25em 1em .25em 2.8em;
}

.deliveryDate {
  display: inline-flex; 
  font-weight: 600;
  letter-spacing: .5px;
  color: #2466b8;
  text-decoration: underline;
  align-items: center;

  @media (min-width: 1200px) {
    padding-top: 0;
  }
  @media (max-width: 1199px) and (min-width: 1000px) {
    padding-top: 0;
  }
  @media (max-width: 999px) and (min-width: 750px) {
    padding-top: 1em;
  }
  @media (max-width: 749px) {
    padding-top: 1em;

  }
}