.contentLayout {
  display: block;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  color: rgba(214, 214, 214, 0.8);
  padding: 1rem 0 1rem 0;
  margin-top: 1rem;
  font-family: 'SF', sans-serif;
  letter-spacing: .2px;
}

.imageContent {
  display: flex;
  // justify-content: flex-start;
  // flex: 1;
  // justify-content: center;
  width: 28%;
}

.bookImage {
  display: flex;
  justify-content: center;
}

.bookStars {
  display: inline-flex;  
  width: 50%;
}

.faStar {
  width: 1.3em;
  height: 1.3em;
  padding-right: .2em;
}

.bookReview {
  display: inline-flex;
  color: #2466b8;
  text-decoration: underline;
  font-weight: 600;
  
}

.mainContent {
  display: flex;
  // flex: 1;
  // justify-content: center;
  width: 72%;
  padding-left: 3em;
}

.infoContainer {
  position: relative;
  display: flex;
  width: 100%;
  border-bottom: .1px solid rgb(var(--foreground-rgb));
  align-items: center;
  padding: .5em 0 .5em 0;
}

.bookInfo {
  display: inline-flex;
}

.cardHeart {
  position: absolute;
  bottom: 0;
  right: 0;
  // display: inline-flex;
  // justify-content: flex-end;
  // flex: 1;
  padding-right: 1em;
}

.cardHeart:hover svg path {
  fill: rgb(112, 45, 45);
}

.bookCart {
  display: block;
  padding: 1.2em 0 1.2em 0;
}

.cartContainer {
  display: flex;
  align-content: center;
  // align-items: center;
}
.rewardsContainer {
  display: flex;
  padding-top: 1em;
  align-content: center;
  // align-items: center;
}

.bookPrice {
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex: 1;
  font-weight: 800;
  font-size: 1.5rem;
}


.cartButton {
  display: inline-flex;
  justify-content: flex-end;
  display: inline-flex;
  border: .1px solid rgb(var(--everforest-gold));
  border-radius: 4px;
  padding: .75em;
  width: 120px;
  height: 50px;
  margin-right: 2em;
  justify-content: center;
  align-items: center;
  color: rgb(var(--everforest-gold));
}

.checkoutBuyNow {
  display: inline-flex;
  border: .1px solid rgb(169, 57, 57);  
  border-radius: 4px;
  padding: .75em;
  width: 120px;
  height: 50px;
  margin-right: 2em;
  justify-content: center;
  align-items: center;
  color: rgb(169, 57, 57);
}

.afterPay {
  display: inline-flex;
  justify-content: flex-start;
  flex: 1;
}

.bookRewards {
  display: inline-flex;
  justify-content: flex-end;
  flex: 1;
  padding-right: 1em;
  margin-right: 2em;
  font-weight: 800;
  color: rgb(169, 57, 57);
}

.shippingContainer {
  display: flex;
  padding: 1.8em 0 1.2em 0;
  border-top: .1px solid rgb(var(--foreground-rgb));
  border-bottom: .1px solid rgb(var(--foreground-rgb));
}

.stockVerify {
  display: inline-flex;
  align-items: center;
  margin-right: 2em;
  border-radius: 20px;
  // font-weight: 600;
  line-height: 20px;
  letter-spacing: .7px;
  color: rgb(var(--foreground-rgb));
  border: 2.5px solid rgb(82, 148, 26);
}

.iconBlock {
  position: absolute;
  z-index: 1;
  padding: 6px 8px;
  border-radius: 30px;
  box-sizing: border-box;
  background-color: rgb(82, 148, 26);
  color: rgb(232, 230, 227);
}

.stockText {
  display: inline-flex;
  // justify-content: center;
  // flex: 1;
  padding: .25em 1em .25em 2.8em;
}

.deliveryDate {
  display: inline-flex; 
  font-weight: 600;
  letter-spacing: .5px;
  color: #2466b8;
  text-decoration: underline;
  align-items: center;
}

.bookAbout {
}

.featureContent {
  display: block;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  padding-top: 1em;
  height: 20em;
}

.featureContainer {
  display: block;
  justify-content: space-evenly;
  width: 100%;
  padding-bottom: 5rem;
}

.tabsWrapper {
  width: 100%;
  border-top: .1px solid rgb(var(--foreground-rgb));
  border-bottom: .1px solid rgb(var(--foreground-rgb));
}

.featureTabs {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
  padding: 1em 0 1em 0;
}

.featurePoints {
  display: flex;
  margin: 0 auto;
  width: 90%;
  padding-top: 1em;
}

.featureSimilar {
  display: block;
  border: .1px dashed red;
  height: 30rem;
}

.similarText {
  font-size: 1.4em;
  padding-bottom: .5em;
}

.similarContainer {
  display: flex;
  height: 27rem;
  padding-top: 2em;
  padding-bottom: 2em;
  border-top: .1px solid rgb(var(--foreground-rgb));
  border-bottom: .1px solid rgb(var(--foreground-rgb)); 
  border: .1px solid yellow;
}

.similarBooks {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 100%;
  border: .1px solid green;
}

.bookBlock {
  display: block;
  border: .1px solid red;
}