@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 210, 207, 202;
  --span-color-rgb: 157, 148, 135;
  --background-start-rgb: 25, 31, 38; 
  // --background-start-rgb: 24, 26, 27;
  // --background-end-rgb: 24, 26, 27;
  --alliance-neue: "Alliance Neue", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --alliance-1: "Alliance No.1", sans-serif;
  --alliance-2: "Alliance No.2", sans-serif;
  --alliance-mono: "Alliance Mono", sans-serif;
  
  @media (prefers-color-scheme: dark) {
    --foreground-rgb: 210, 207, 202;
    --span-color-rgb: 157, 148, 135;
    // --background-start-rgb: 24, 26, 27;
    // --background-end-rgb: 24, 26, 27;
  }
}


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  font-family:  "Alliance Neue", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5rem;
}

*, ::before, ::after {
  box-sizing: border-box;
}



button {
  cursor: pointer;
}

svg {
  cursor: pointer;
}

span {
  color: rgb(var(--span-color-rgb));
}

h1 {
  font-family: var(--alliance-mono);
  cursor: pointer;
}