.orderSummaryButton {
  display: flex;
  z-index: 10;
  align-items: center;
}
.orderSummaryButton:hover div {
  color: white;
  fill: white;
}

.borderSummary {
  width: calc(100% + 15px);
  @media (max-width: 999px) {
    transition: opacity 0.3s ease, max-height 0.3s ease;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
  }
}

.expanded {
  @media (max-width: 999px) {
    opacity: 1;
    max-height: fit-content; /* Use an approximate max height for your content */
  }
}

.scrollBar {
  scrollbar-width: auto;
  scrollbar-color: rgba(71, 81, 108, 0.5) rgba(0, 0, 0, 0);
  scrollbar-gutter: stable;
}
/* Always show scrollbar */
.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.scrollBarContent {
  width: calc(100% + 15px); /* Increase 15px if you increased padding-right */
  box-sizing: content-box;
}

.loader {
  cursor: default;
  border: 3px solid rgb(var(--foreground-rgb)); /* Light gray border */
  border-top: 3px solid transparent; /* Blue border */
  border-radius: 50%;
  width: 2em;
  height: 2em;
  margin: 0 auto;
  animation: spin .8s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.applyButton {
  width: 96px;
  height: 54px;
}

.paymentIcon {
  width: 38px;
  height: 24px;
}