.search {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-bottom: 2.5rem;
  width: 95%;
  margin: 0 auto;
}

.relative {
  position: relative;
}