.searchForm {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin searchBarStyles {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 2.5rem;
  padding-left: 3rem; /* 40px */
  padding-right: 3rem; /* 40px */
  border-radius: 4px;
  border: 1px solid rgb(var(--foreground-rgb), 0.8);
  z-index: 1;
  background: rgb(var(--background-start-rgb));
  cursor: text;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
  /* box-shadow: 1px 1px 2px 0 rgba(var(--foreground-rgb)); */
  
  @media (min-width: 1200px) {
    width: clamp(25em, 1em + 40vw, 50em);
  }
  @media (max-width: 1199px) and (min-width: 1000px) {
    width: clamp(25em, 1em + 40vw, 50em);
  }
  @media (max-width: 999px) and (min-width: 750px) {
    width: clamp(25em, 1em + 40vw, 50em);
  }
  @media (max-width: 749px) {
    width: clamp(25em, 1em + 40vw, 50em);
  }
}

.searchBar {
  @include searchBarStyles;
}

.bookPage {
  @include searchBarStyles;
  @media (max-width: 749px) {
    width: clamp(19em, 1em + 40vw, 50em);
  }
}


.searchInput {
  position: relative;
  display: inline-flex;
  flex-grow: 1;
  background: rgb(var(--background-start-rgb));
  align-items: center;
  text-align: left;
  // margin-left: 1em;
  /* box-shadow: 1px 1px 2px 0 rgba(var(--foreground-rgb)); */
    // Remove border outline
  outline: none;
  border: none;

  // Remove highlight
  -webkit-tap-highlight-color: transparent;
  
}

.searchInput::placeholder {
  text-align: center;
  font-size: .8em;
  letter-spacing: .1em;
  opacity: .85;
}